*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.header {
  padding-top: 2vw;
  text-align: center;
  font-size:3vw;
  height:8vw;
  width:100vw;
}
.footer {
  text-align: center;
  font-size:1vw;
  margin-top:5vw;
  height:8vw;
  width:100vw;
}

.seg {
  padding-top: 4vw;
}

/* ボタン完全にパクリ */
.button-74 {
  background-color: #BBBBBB;
  border: 0.2vw solid #444444;
  border-radius: 1vw;
  box-shadow: #444444 0.2vw 0.2vw 0 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 3vw;
  padding: 0 2vw;
  line-height: 6vw;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-74:hover {
  background-color: #fff;
}
.button-74:active {
  box-shadow: #444444 0.5vw 0.5vw 0 0;
  transform: translate(0.5vw, 0.5vw);
}
