*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.header {
  padding-top: 2vw;
  text-align: center;
  font-size:2vw;
  height:8vw;
  width:100vw;
}
.footer {
  text-align: center;
  font-size:1vw;
  margin-top:5vw;
  height:8vw;
  width:100vw;
}

/* ボタン完全にパクリ */
.button-74 {
  background-color: #BBBBBB;
  border: 2px solid #444444;
  border-radius: 30px;
  box-shadow: #444444 4px 4px 0 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-74:hover {
  background-color: #fff;
}
.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
